<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="org.Iotech.iotech" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="IOTech"></application>
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<receiver android:name=".SMSBroadcastReceiver">
		<intent-filter>
			<action android:name="android.permission.READ_SMS" />
		</intent-filter>
	</receiver>
</manifest>